
body{

    background-color: #24353F;
}

.home-body{

    height: 75vh;
}

h1{

    color:#17A2B8;
    font-size: 32px;
    font-weight: 500;   
}

.inside-container{
    
    background-color:#24353F;
    box-shadow: -5px 2px 54px -9px rgba(0, 0, 0, 1);
    padding: 50px;
    width: 65%;

}

#error{
    height: 10px;
}

input{

    background-color: transparent;

    height: 37px;
    outline: none;
    color: white;
    border: 1px solid white;
    border-radius: 4px;
    padding: 10px;
}

input:focus{

    
   
    border: 1px solid #17A2B8;

}

input::placeholder{

color:white;
/* padding: 5px;
padding-left: 10px; */
}

.bt{

    color: #17A2B8;
    outline: none;
    border:solid 1px #17A2B8;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 4px;
    background-color: transparent;
}

.bt:hover{

    background-color: #17A2B8;
    color: white;
}


.acc a{

    text-decoration: none;
    color:white;
    font-size: 16px;
    font-weight: 400;
}

.acc a:hover{

    text-decoration: underline;
}


nav{

    box-shadow: -5px 2px 54px -9px rgba(0, 0, 0, 1);


}

.navbar-brand {

    text-decoration: none;
    color: white;
    font-size: 20px;
}
.navbar-brand:hover{
    color: white;
}


.logout{

    background-color: transparent;
    border: #ffc107 solid 1px;
    color: white;
    padding: 7px;
    border-radius: 5px;
}
.logout:hover{

    background-color:#ffc107;
}




.user {
    box-shadow: -5px 2px 54px -9px rgba(0, 0, 0, 1);
    width: 65%;
}

